<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="pull-left">
        <!-- STRING INTERPOLATION: Dynamically displays the name of each recipe by string interpolating the name property of each recipe object in the recipes array into the HTML template: -->
        <h4 class="list-group-item-heading">Recipe Name: {{ recipe.name }}</h4>

        <p class="list-group-item-text">Description:{{ recipe.description }}</p>
      </div>
      <span class="pull-right">
        <!-- PROPERTY BINDING: Binding the src attribute of the <img> element to the imagePath property of each recipe object in the recipes array: -->
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px; max-width: 50px"
        />
      </span>
    </a>
    <br />
    <app-recipe-item></app-recipe-item>
  </div>
</div>
